<nav class="navbar navbar-expand-lg bg-body-success">
  <div class="container-fluid">
    <div class="row align-items-center"> <!-- Create a row to center the elements -->
      <div class="col-md-3"> <!-- Use Bootstrap columns to control the brand placement -->
        <a class="navbar-brand" href="<%= pages_index_path %>">ThriftBooks</a>
      </div>
      <div class="col-md-6"> <!-- Center the search bar using columns -->
    <%= form_tag books_path, method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search a book...' %>
      <%= submit_tag "Search" %>
    <% end %>
      </div>
      <div class="col-md-3 text-end"> <!-- Align "My Cart" to the right -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="<%= pages_cart_path %>">My Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
